Package: xyz.skitty.pokebox
Name: Pokébox
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Pokémon style notifications!
Icon: https://skitty.xyz/repo/icons/xyz.skitty.pokebox.png
Depiction: https://skitty.xyz/repo/depictions/?p=xyz.skitty.pokebox
SileoDepiction: https://skitty.xyz/repo/depictions/?s=xyz.skitty.pokebox
Maintainer: Skitty
Author: Skitty
Section: Tweaks
