<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Pokebox</string>
	<key>subtitle</key>
	<string>By Skitty</string>
	<key>headerFontPath</key>
	<string>/Library/Application Support/Pokebox/silkscreen.ttf</string>
	<key>headerColor</key>
	<string>#000000</string> <!-- 8bac0f -->
	<key>darkHeaderColor</key>
	<string>#ffffff</string>
	<key>textColor</key>
	<string>#ffffff</string> <!-- 306230 -->
	<key>darkTextColor</key>
	<string>#000000</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>key</key>
			<string>location</string>
			<key>label</key>
			<string>Location</string>
			<key>validTitles</key>
			<array>
				<string>Everywhere</string>
				<string>Banner</string>
				<string>Lock Screen</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>key</key>
			<string>font</string>
			<key>label</key>
			<string>Font</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Pokémon</string>
				<string>Silkscreen</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>key</key>
			<string>useCustomTitleSize</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>label</key>
			<string>Custom Title Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>13</real>
			<key>min</key>
			<real>2</real>
			<key>max</key>
			<real>20</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>18</integer>
			<key>key</key>
			<string>customTitleSize</string>
			<key>requires</key>
			<string>useCustomTitleSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>key</key>
			<string>useCustomTextSize</string>
			<key>label</key>
			<string>Custom Text Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>15</real>
			<key>min</key>
			<real>2</real>
			<key>max</key>
			<real>20</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>18</integer>
			<key>key</key>
			<string>customTextSize</string>
			<key>requires</key>
			<string>useCustomTextSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>key</key>
			<string>bannerAnimation</string>
			<key>label</key>
			<string>Banner Animation</string>
			<key>validTitles</key>
			<array>
				<string>Default (top)</string>
				<string>Bottom</string>
				<string>No animation (top)</string>
				<string>No animation (bottom)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>key</key>
			<string>animateText</string>
			<key>label</key>
			<string>Animate text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>0.1</real>
			<key>min</key>
			<real>0.01</real>
			<key>max</key>
			<real>0.2</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>18</integer>
			<key>key</key>
			<string>animationSpeed</string>
			<key>requires</key>
			<string>animateText</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.pokebox</string>
			<key>PostNotification</key>
			<string>xyz.skitty.pokebox.prefschanged</string>
			<key>key</key>
			<string>hideIcon</string>
			<key>label</key>
			<string>Hide Notification Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Test notification</string>
			<key>action</key>
			<string>testNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SPCreditCell</string>
			<key>label</key>
			<string>Skitty</string>
			<key>twitter</key>
			<string>Skittyblock</string>
			<key>subtitle</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SPCreditCell</string>
			<key>label</key>
			<string>Mirac</string>
			<key>twitter</key>
			<string>thatmirac</string>
			<key>subtitle</key>
			<string>Designer</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SPCreditCell</string>
			<key>label</key>
			<string>hahaAndy</string>
			<key>twitter</key>
			<string>hahaAndy1</string>
			<key>subtitle</key>
			<string>Pikachu Sprite</string>
			<key>url</key>
			<string>https://skitty.xyz/</string>
		</dict>
	</array>
</dict>
</plist>
